[user]
	email = 64714719+tpAtalas@users.noreply.github.com
	name = tpAtalas
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = nvim
