[user]
	email = tp@atalas.dev
	name = tpatalas
	signingkey = D87CD3096ED539B4
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = nvim
	fileMode = false
[commit]
	template = ~/.gitcommit.txt
	gpgsign = true
[gpg]
	program = gpg
[diff "lockb"]
	textconv = bun
	binary = true
[init]
	defaultBranch = master
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
